/* 色を使い回しできるように変数にする */
:root {
    --mainContent: #FFFFFF;
    --navColor: #E1E1E1;
    --accentColor1: #0059A9;
    --accentColor2: #00A046;
    --accentColor3: #E7C000;
    --accentColor4: #C60519;
  }